:root {
  /* Color */
  --white-color: #fff;
  --black-color: #140a00;
  --blue-color: #045fd4;
  --red-color: #ff0000;
  --gray-dark-color: #909090;
  --gray-light-color: #e0e0e0;

  /* sizw */
  --padding: 12px;
  --avatar-size: 36px;

  /* font size */
  --font-large: 18px;
  --font-medium: 14px;
  --font-samll: 12px;
  --font-micro: 10px;
}
/* common */
body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  background-color: var(--black-color);
  color: var(--white-color);
}
header div {
  margin: var(--padding);
}
header div i {
  margin-right: 4px;
}
header div i.fa-youtube {
  color: var(--red-color);
}
header div span {
  font-weight: bolder;
}

/* Video */
main {
  width: 100%;
  height: 300px;
  background-color: white;
  background-image: url("./img/back.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  position: sticky;
  top: 0;
}
main img {
  width: 100%;
}

/* Info */
section.info {
  margin: 0 var(--padding);
}

/* Info_details */
section.info .details {
}
section.info .details .tag {
  display: flex;
}
section.info .details .tag li {
  margin-right: calc(var(--padding));
  font-size: var(--font-samll);
  color: var(--blue-color);
}
section.info .details .titleAndBtn {
  margin: var(--padding) 0;
  display: flex;
}
section.info .details .titleAndBtn span {
  font-size: var(--font-large);
}
section.info .details .titleAndBtn i {
  margin: auto var(--padding);
  cursor: pointer;
  transition: 0.4s;
}
section.info .details .titleAndBtn i:focus {
  transform: rotate(180deg);
}
section.info .details > span {
  font-size: var(--font-samll);
  color: var(--gray-dark-color);
}

/* Info_active */
section.info .active {
  display: flex;
  justify-content: space-around;
  margin: var(--padding) 0;
}
section.info .active li {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: var(--font-medium);
}
section.info .active li i {
  margin-bottom: calc(var(--padding));
}
section.info .active li span {
}

/* Info_channel */
section.info .channel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--gray-light-color);
  border-bottom: 1px solid var(--gray-light-color);
  padding: var(--padding) 0;
}
section.info .channel .owner {
  display: flex;
  align-items: center;
}
section.info .channel .owner .plus {
  display: flex;
  flex-direction: column;
  margin: 0 var(--padding);
}
section.info .channel .owner img {
  width: var(--avatar-size);
  border-radius: 50%;
}
section.info .channel .owner .plus span:nth-child(1) {
  font-size: var(--font-medium);
}
section.info .channel .owner .plus span:nth-child(2) {
  font-size: var(--font-samll);
}

section.info .channel .subscribe {
  color: var(--red-color);
}

/* Up Next */
.upNext {
  margin: var(--padding);
}
.upNext > span {
  font-size: var(--font-medium);
  color: var(--gray-dark-color);
}
.upNext li {
  display: flex;
  margin-top: var(--padding);
}
.upNext li > div {
  flex: 1 1 35%;
}
.upNext li > div img {
  width: 100%;
}
.upNext li .upNext__info {
  flex: 1 1 65%;
  margin: 0 var(--padding);
}
.upNext li .upNext__info .title {
  font-size: var(--font-medium);
}
.upNext li .upNext__info span {
  font-size: var(--font-samll);
  color: var(--gray-dark-color);
}
.upNext li button {
  flex: 1 1 5%;
  border: none;
  background-color: white;
}
.upNext li button i {
}
